<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>

</head>
<body>
<br/>
<br/><br/>
<div class="with:80%">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>userName</th>
            <th>password</th>
        </tr>
        </thead>
        <tbody>
        <!--each来进行for循环求值-->
        <tr  th:each="user : ${userList}">
            <th scope="row" th:text="${user.userId}"></th>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/update/'+${user.userId}}">更改(未实现)</a>
                <a class="btn btn-danger" th:href="@{'/delete/'+${user.userId}}">删除(未实现)</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h1>文件上传Test</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="上传">
    </form>
    <form action="/download" method="get">
        <input type="submit" value="下载">
    </form>
    <button id="target" onclick="test()">在线预览</button>
</div>
</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-base64@3.6.0/base64.min.js"></script>
<script>


        function test(){
            var url = 'http://127.0.0.1:8080/facereport/static/captured/ae93d524-78b0-40ec-9ee2-0055c2f73e38.docx'; //要预览文件的访问地址
            window.open('http://127.0.0.1:8012/onlinePreview?url='+encodeURIComponent(Base64.encode(url)));
        }
        $("botton").click(function () {
            // $.ajax({
            //     url: "/download",
            //     type: "get",
            //     success: function (data) {
            //         console.log(data);
            //         var url = "http://localhost:8080/download";
            //         window.open(url);
            //     }
            // })
        })
</script>
</html>
